* {
  box-sizing: border-box;
}

#nav {
  background-color: black;
  width: 100%;
  border: 1px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;     /* 加上這一行 */
}

#content {
  border: 1px;  
  position: relative;
  top: 10px;
  padding: 15px;
}

.container {
  border: 1px;
  width: 800px;
  margin: 0 auto;
}

#content > .container > div {
  padding: 2% 0;
}

#nav > .container {
  width: 100%;
}

#my-work > .container {
  width: 100%;
}



#about, #my-work, #contact-me {
  margin-top: 100px;
  margin-bottom: 200px;
  border: 1px;
}


.menu li {
  width: 100px;
  padding: 0px 0px;
  margin: 0px 0px;

  border: 1px;
  border-radius: 3px;

  list-style-type: none;
  text-align: center;
  background-color: black;
  color: #fff;
  display: inline-block;
}

a {
  display: block;
  color: white;
  text-decoration: none;
  font-family: cursive;
  font-size: 15px;
}

.menu li:hover  {
  border: 1px;
  background-color: #fff;
}

.menu li:hover a {
  color: black;
}

/* about me */

#my-avatar {
  border: 1px;  /* 標示用，排版完記得拿掉 */
  margin-right: 1%;
  margin-top: 5%;
  float: right;
}

#my-avatar img {
  width: 220px;
}

h1 {
  margin-bottom: 0;
}

h3 {
  margin: 0;
}

table {
  font-size: 14px;
  text-align: left;
}

th, td {
  vertical-align: top;
}

td {
  color: #666;
  padding-left: 10px;
}

hr {
  border: 1px;
}

/* my work */

.item {
  position: relative;
  max-width: 30%;
  display: inline-block;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 10px;
}

.item-info {                   /* 標示用，排版完記得拿掉 */
  background-color: rgba(255,255,255,.8);   /* 背景半透明 */
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  text-align: left;
  padding: 25px 10px;
  transition-property: opacity;
  transition-duration: 1.2s;
  opacity: 0;
}

.item-info h3{

  text-align: center;

}

.item-info:hover {
  transition-property: opacity;
  transition-duration: 1.2s;
  opacity: 1;
}

.item-logo {
  border: 1px;                   /* 標示用，排版完記得拿掉 */
  background-color: rgba(255,255,255,.8);   /* 背景半透明 */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 0px 0px;
  transition-property: opacity;
  transition-duration: 1s;
  opacity: 0;
}

.item-logo:hover {
  transition-property: opacity;
  transition-duration: 1s;
  opacity: 1;
}

.item-logo:active {
  opacity: 0;
}




.item img, iframe{
  width: 100%;
  height: 245px;
}

#dialog-logo{
  width: 100%;
  height: 245px;
}



#contact-me {
  border: 1px;  /* 標示用，完成後刪除 */
}

form.contact-form {
  border: 1px;  /* 標示用，完成後刪除 */
  width: 50%;
  margin: 0 auto;
}

.form-row {
  margin-bottom: 15px;
}


.form-row input, .form-row textarea {
  border-radius: 3px;
  width: 100%;
  border: 1px solid #D6D9DC;
  padding: 7px;
}

.form-row textarea {
  resize: none;
  height: 4em;
}

.form-row button {
  border: none;
  border-radius: 3px;
  padding: 10px 15px;
  cursor: pointer;
}

.form-row button[type="sumbit"] {
  background-color: #5995DA;
  color: #FFFFFF;
}

.form-row button:hover {
  background-color: #76AEED;
}

.form-row button:active {
  background-color: #407FC7;
}

hr.bar {
  border: 2px solid grey;
  width: 160px;
}

.menu {
  float: left;
}

h1 {
  text-align: center;
}

#about h1 {
  margin-bottom: 0;
  text-align: left;
}

#my-work h1 {
  margin-bottom: 10px;
}

#my-work-gallery {
    text-align: center;
}

/* social icon start*/

@font-face {
    font-family: 'si';
    src: url('img/socicon.eot');
    src: url('img/socicon.eot?#iefix') format('embedded-opentype'),
         url('img/socicon.woff') format('woff'),
         url('img/socicon.ttf') format('truetype'),
         url('img/socicon.svg#icomoonregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family:si;
        src: url(img/socicon.svg) format(svg);
    }
}

.soc {
    overflow:hidden;
    margin:0; padding:0;
    list-style:none;
    margin-right: 1%;
}

.soc li {
    display:inline-block;
    *display:inline;
    zoom:1;
    float:right;
    text-align: center;
    border: 1px;
}

.soc li a {
    font-family:si!important;
    font-style:normal;
    font-weight:300;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    -o-box-sizing:border-box;
    box-sizing:border-box;

    -o-transition:.1s;
    -ms-transition:.1s;
    -moz-transition:.1s;
    -webkit-transition:.1s;
    transition:.1s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);

    overflow:hidden;
    text-decoration:none;
    text-align:center;
    display:block;
   /* position: relative; */
    z-index: 1;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 15px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-right: 3px;
    margin-top: 12px;
    color: #ffffff;
    background-color: none;
}

/*.soc-icon-last{
    margin:0 !important;
}*/

.soc-facebook {
    background-color: #3e5b98;
}
.soc-facebook:before {
    content:'\e041';
}
.soc-googleplus {
    background-color: #dd4b39;
}
.soc-googleplus:before {
    content:'\e042';
}
.soc-linkedin {
    background-color: #3371b7;

}
.soc-linkedin:before {
    content:'\e049';
}

.soc-facebook:hover {
    background-color: #526fac;
}
.soc-googleplus:hover {
    background-color: #f15f4d;
}
.soc-linkedin:hover {
    background-color: #4785cb;
}

/* social icon ends*/